{% load static %}
{% load custom_filters %}

<div class="profile">
    <div class="profile-photo">
        {% if 'photo' in visible_fields and profile.photo %}
            <img src="{{ profile.photo.url }}" width="150" class="pfp"/>
        {% else %}
            <img src="{% static 'raadaa/no_photo.jpeg' %}" class="pfp">
        {% endif %}
    </div>

    <div class="profile-details">
        {% for vis in visible_fields %}
        {% if vis != 'photo' %}
            <ul class="profile-details">
                <li><strong>{{ vis|underscore_to_space_upper }}:</strong> {{ profile|dict_get:vis }}</li>
            </ul>
        {% endif %}
        {% endfor %}
        

        <p><strong>Documents</strong><p>
        {% if profile.documents.all %}

            <div class="card-body">
                <div id="documentList" class="row">
                    {% for document in profile.documents.all %}
                        <div class="col-md-3 document-card" data-document-id="{{ document.id }}">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ document.description|default:document.document_type }}</h5>
                                    <p class="card-text">
                                        <a href="{{ document.file.url }}" target="_blank">{{ document.file.name|slice:"20:" }}</a><br>
                                        {% comment %} Type: {{ document.get_document_type_display }}<br>
                                        Uploaded: {{ document.uploaded_at|date:"F d, Y" }} {% endcomment %}
                                    </p>
                                    {% comment %} <button class="btn btn-danger btn-sm delete-document" style="position: absolute; top: 10px; right: 10px;">X</button> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% comment %} <ul>
            {% for document in profile.documents.all %}
                <li>
                    {{ document.document_type }}: 
                    <a href="{{ document.file.url }}" target="_blank">{{ document.file.name }}</a>
                    (Uploaded: {{ document.uploaded_at|date:"F d, Y" }})
                    {% if document.description %} - {{ document.description }}{% endif %}
                </li>
            {% endfor %}
            </ul> {% endcomment %}
        {% else %}
            <p>No documents uploaded.</p>
        {% endif %}
    </div>
    
</div>

<style>
    .pfp {
        width: 200px;
        height: 200px;
        border: 3px solid #000000;
        border-radius: 50%;
    }

    .profile {
        {% comment %} display: flex;
        align-items: center; {% endcomment %}
        text-align: center;
        padding: auto;
    }

    .profile-photo {
        {% comment %} justify-content: center; {% endcomment %}

        margin-bottom: 20px;
    }

    div.profile-details {
        {% comment %} justify-content: center; {% endcomment %}
        padding: 20px;
        margin: 0 auto;
        border: 1px solid #000000;
        border-radius: 5px;
        width: 800px;
        text-align: left;
        {% comment %} height: 500px; {% endcomment %}
    }
    ul {
        list-style: none;
    }
</style>